<form>
  <h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} {{'Film' | translate}}</h1>
  <div mat-dialog-content>

      <app-magic-autocomplete
      *ngIf="canEditColumn('language_id')"
      [model]="data.entity"
      field="language_id"
      key="language_id"
      table="language"
      value="name"
      [placeholder]="('Choose a ' | translate) + ('language_id' | translate)"
      class="entity-edit-field"
      (change)="changed('language_id')"
      [getItems]="service.sakila_language">
    </app-magic-autocomplete>

    <app-magic-autocomplete
      *ngIf="canEditColumn('original_language_id')"
      [model]="data.entity"
      field="original_language_id"
      key="language_id"
      table="language"
      value="name"
      [placeholder]="('Choose a ' | translate) + ('original_language_id' | translate)"
      class="entity-edit-field"
      (change)="changed('original_language_id')"
      [getItems]="service.sakila_language">
    </app-magic-autocomplete>

    <mat-form-field
      *ngIf="canEditColumn('title')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'title' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="title"
        (change)="changed('title')"
        [(ngModel)]="data.entity.title"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('description')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'description' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="description"
        (change)="changed('description')"
        [(ngModel)]="data.entity.description"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('release_year')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'release_year' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="release_year"
        (change)="changed('release_year')"
        [(ngModel)]="data.entity.release_year"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('special_features')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'special_features' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="special_features"
        (change)="changed('special_features')"
        [(ngModel)]="data.entity.special_features"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('film_id')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'film_id' | translate}}</mat-label>
      <input
        matInput
        type="number"
        step="1"
        name="film_id"
        (change)="changed('film_id')"
        [(ngModel)]="data.entity.film_id"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('length')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'length' | translate}}</mat-label>
      <input
        matInput
        type="number"
        step="1"
        name="length"
        (change)="changed('length')"
        [(ngModel)]="data.entity.length"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('rating')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'rating' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="rating"
        (change)="changed('rating')"
        [(ngModel)]="data.entity.rating"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('last_update')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'last_update' | translate}}</mat-label>
      <input
        matInput
        name="last_update"
        (change)="changed('last_update')"
        [owlDateTime]="pickerlast_update"
        [owlDateTimeTrigger]="pickerlast_update"
        [(ngModel)]="data.entity.last_update"
        autocomplete="off">
      <owl-date-time #pickerlast_update (afterPickerClosed)="changed('last_update')"></owl-date-time>
      <mat-icon matSuffix matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('rental_duration')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'rental_duration' | translate}}</mat-label>
      <input
        matInput
        type="number"
        step="1"
        name="rental_duration"
        (change)="changed('rental_duration')"
        [(ngModel)]="data.entity.rental_duration"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('rental_rate')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'rental_rate' | translate}}</mat-label>
      <input
        matInput
        type="number"
        name="rental_rate"
        step="any"
        (change)="changed('rental_rate')"
        [(ngModel)]="data.entity.rental_rate"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('replacement_cost')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'replacement_cost' | translate}}</mat-label>
      <input
        matInput
        type="number"
        name="replacement_cost"
        step="any"
        (change)="changed('replacement_cost')"
        [(ngModel)]="data.entity.replacement_cost"
        autocomplete="off">
    </mat-form-field>

</div>

  <div mat-dialog-actions>

    <div class="right-aligned">

      <button 
        mat-raised-button
        color="primary"
        type="submit"
        (click)="upsert()">{{'Save' | translate}}</button>

      <button
        mat-button
        (click)="close(null)">{{'Cancel' | translate}}</button>

    </div>

  </div>
</form>
