
<h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} Address</h1>
<div mat-dialog-content>

  <mat-form-field
    *ngIf="canEditColumn('address_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('address_id')"
      placeholder="address_id"
      [(ngModel)]="data.entity.address_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('address')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="address"
      (change)="changed('address')"
      [(ngModel)]="data.entity.address"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('address2')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="address2"
      (change)="changed('address2')"
      [(ngModel)]="data.entity.address2"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('district')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="district"
      (change)="changed('district')"
      [(ngModel)]="data.entity.district"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('city_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('city_id')"
      placeholder="city_id"
      [(ngModel)]="data.entity.city_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('postal_code')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="postal_code"
      (change)="changed('postal_code')"
      [(ngModel)]="data.entity.postal_code"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('phone')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="phone"
      (change)="changed('phone')"
      [(ngModel)]="data.entity.phone"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      (click)="upsert()">{{'Save' | translate}}</button>

    <button
      mat-button
      (click)="close(null)">{{'Cancel' | translate}}</button>

  </div>

</div>
