
<div class="component-wrapper">

  <div class="mat-elevation-z4 relativized grid-wrapper">

    <button
      mat-raised-button
      *ngIf="authService.me.canInvoke(url(), 'post') && httpService['sakila_inventory']['create']"
      class="create-button"
      [matTooltip]="('Create' | translate) + (' Inventory' | translate)"
      (click)="createEntity()">
      <mat-icon>add_circle</mat-icon>
    </button>

    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="data">

      <ng-container matColumnDef="film_id.title">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>{{'film_id.title' | translate}}</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formControl]="film_id_title">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('film_id.title')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('film_id.title')}}</mat-icon>
          </button>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el['film_id.title']}}</td>
      </ng-container>

      <ng-container matColumnDef="last_update">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>{{'last_update' | translate}}</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formControl]="last_update">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('last_update')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('last_update')}}</mat-icon>
          </button>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el['last_update'] | formatDate}}</td>
      </ng-container>

      <ng-container matColumnDef="inventory_id">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>{{'inventory_id' | translate}}</mat-label>
            <input
              matInput
              type="number"
              autocomplete="off"
              [formControl]="inventory_id">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('inventory_id')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('inventory_id')}}</mat-icon>
          </button>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el['inventory_id']}}</td>
      </ng-container>

      <ng-container matColumnDef="film_id">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>{{'film_id' | translate}}</mat-label>
            <input
              matInput
              type="number"
              autocomplete="off"
              [formControl]="film_id">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('film_id')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('film_id')}}</mat-icon>
          </button>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el['film_id']}}</td>
      </ng-container>

      <ng-container matColumnDef="store_id">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>{{'store_id' | translate}}</mat-label>
            <input
              matInput
              type="number"
              autocomplete="off"
              [formControl]="store_id">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('store_id')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('store_id')}}</mat-icon>
          </button>
        </th>
        <td mat-cell (click)="toggleDetails(el)" *matCellDef="let el">{{el['store_id']}}</td>
      </ng-container>

      <ng-container matColumnDef="delete-instance">
        <th
          mat-header-cell
          *matHeaderCellDef
          [ngClass]="authService.me.canInvoke(url(), 'delete') && httpService['sakila_inventory']['delete'] ? 'delete-column' : 'hidden'"></th>

        <td
          mat-cell
          *matCellDef="let el"
          [ngClass]="authService.me.canInvoke(url(), 'delete') && httpService['sakila_inventory']['delete'] ? 'delete-column' : 'hidden'">
          <button
            mat-button
            (click)="deleteEntity(el, {inventory_id: el.inventory_id})"
            [matTooltip]="'Delete this record' | translate">
            <mat-icon matSuffix>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <td
          mat-cell
          *matCellDef="let el"
          colspan="4">
          <div
            class="details-sheet"
            *ngIf="shouldDisplayDetails(el)">
            <button
              *ngIf="authService.me.canInvoke(url(), 'put') && httpService['sakila_inventory']['update']"
              mat-button
              color="primary"
              class="edit-button"
              [matTooltip]="'Edit' | translate"
              (click)="editEntity(el)">
              <mat-icon matSuffix>edit</mat-icon>
            </button>
            <p class="details">
              <label>{{'film_id.title' | translate}}</label>
              <span>{{el['film_id.title']}}</span>
            </p>
            <p class="details">
              <label>{{'last_update' | translate}}</label>
              <span>{{el['last_update'] | formatDate}}</span>
            </p>
            <p class="details">
              <label>{{'store_id' | translate}}</label>
              <span>{{el['store_id']}}</span>
            </p>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        [ngClass]="getClassForRecord(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr
        mat-row
        [ngClass]="getClassForDetails(row)"
        *matRowDef="let row; columns: ['details']; "></tr>

    </table>
    <mat-paginator
      #paginator
      [(length)]="itemsCount"
      [(pageSize)]="filter.limit"
      (page)="paged($event)"
      [pageSizeOptions]="[5,10,25,50]">
    </mat-paginator>

  </div>

</div>
