
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Customer</h1>
<div mat-dialog-content>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="store_id"
      [(ngModel)]="data.entity.store_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="first_name"
      [(ngModel)]="data.entity.first_name"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="last_name"
      [(ngModel)]="data.entity.last_name"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="email"
      [(ngModel)]="data.entity.email"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="address_id"
      [(ngModel)]="data.entity.address_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="active"
      [(ngModel)]="data.entity.active"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="create_date"
      [(ngModel)]="data.entity.create_date"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="last_update"
      [(ngModel)]="data.entity.last_update"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-button
      (click)="save()">Save</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
