
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Store</h1>
<div mat-dialog-content>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="manager_staff_id"
      [(ngModel)]="data.entity.manager_staff_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="address_id"
      [(ngModel)]="data.entity.address_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="last_update"
      [(ngModel)]="data.entity.last_update"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-button
      (click)="save()">Save</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
