
<h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} Customer</h1>
<div mat-dialog-content>

  <mat-form-field
    *ngIf="canEditColumn('customer_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('customer_id')"
      placeholder="customer_id"
      [(ngModel)]="data.entity.customer_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('store_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('store_id')"
      placeholder="store_id"
      [(ngModel)]="data.entity.store_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('first_name')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="first_name"
      (change)="changed('first_name')"
      [(ngModel)]="data.entity.first_name"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('last_name')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="last_name"
      (change)="changed('last_name')"
      [(ngModel)]="data.entity.last_name"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('email')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="email"
      (change)="changed('email')"
      [(ngModel)]="data.entity.email"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('address_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('address_id')"
      placeholder="address_id"
      [(ngModel)]="data.entity.address_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('create_date')"
    class="entity-edit-field">
    <input
      matInput
      placeholder="create_date"
      (change)="changed('create_date')"
      [owlDateTime]="pickercreate_date"
      [owlDateTimeTrigger]="pickercreate_date"
      [(ngModel)]="data.entity.create_date"
      autocomplete="off">
    <owl-date-time #pickercreate_date (afterPickerClosed)="changed('create_date')"></owl-date-time>
    <mat-icon matSuffix matDatepickerToggleIcon>calendar_today</mat-icon>
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      (click)="upsert()">{{'Save' | translate}}</button>

    <button
      mat-button
      (click)="close(null)">{{'Cancel' | translate}}</button>

  </div>

</div>
