
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Rental</h1>
<div mat-dialog-content>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="rental_date"
      [(ngModel)]="data.entity.rental_date"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="inventory_id"
      [(ngModel)]="data.entity.inventory_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="customer_id"
      [(ngModel)]="data.entity.customer_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="return_date"
      [(ngModel)]="data.entity.return_date"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="staff_id"
      [(ngModel)]="data.entity.staff_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    class="entity-edit-field">
    <input
      matInput
      placeholder="last_update"
      [(ngModel)]="data.entity.last_update"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-button
      (click)="save()">Save</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
