
<h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} Film</h1>
<div mat-dialog-content>

  <mat-form-field
    *ngIf="canEditColumn('film_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('film_id')"
      placeholder="film_id"
      [(ngModel)]="data.entity.film_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('title')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="title"
      (change)="changed('title')"
      [(ngModel)]="data.entity.title"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('description')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="description"
      (change)="changed('description')"
      [(ngModel)]="data.entity.description"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('release_year')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="release_year"
      (change)="changed('release_year')"
      [(ngModel)]="data.entity.release_year"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('language_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('language_id')"
      placeholder="language_id"
      [(ngModel)]="data.entity.language_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('original_language_id')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('original_language_id')"
      placeholder="original_language_id"
      [(ngModel)]="data.entity.original_language_id"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('length')"
    class="entity-edit-field">
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('length')"
      placeholder="length"
      [(ngModel)]="data.entity.length"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('special_features')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="special_features"
      (change)="changed('special_features')"
      [(ngModel)]="data.entity.special_features"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      (click)="upsert()">{{'Save' | translate}}</button>

    <button
      mat-button
      (click)="close(null)">{{'Cancel' | translate}}</button>

  </div>

</div>
