<form>
  <h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} {{'Film_actor' | translate}}</h1>
  <div mat-dialog-content>

      <app-magic-autocomplete
      *ngIf="canEditColumn('actor_id')"
      [model]="data.entity"
      field="actor_id"
      key="actor_id"
      table="actor"
      value="first_name"
      [placeholder]="('Choose a ' | translate) + ('actor_id' | translate)"
      class="entity-edit-field"
      (change)="changed('actor_id')"
      [getItems]="service.sakila_actor">
    </app-magic-autocomplete>

    <app-magic-autocomplete
      *ngIf="canEditColumn('film_id')"
      [model]="data.entity"
      field="film_id"
      key="film_id"
      table="film"
      value="title"
      [placeholder]="('Choose a ' | translate) + ('film_id' | translate)"
      class="entity-edit-field"
      (change)="changed('film_id')"
      [getItems]="service.sakila_film">
    </app-magic-autocomplete>

    <mat-form-field
      *ngIf="canEditColumn('last_update')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'last_update' | translate}}</mat-label>
      <input
        matInput
        name="last_update"
        (change)="changed('last_update')"
        [owlDateTime]="pickerlast_update"
        [owlDateTimeTrigger]="pickerlast_update"
        [(ngModel)]="data.entity.last_update"
        autocomplete="off">
      <owl-date-time #pickerlast_update (afterPickerClosed)="changed('last_update')"></owl-date-time>
      <mat-icon matSuffix matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-form-field>

</div>

  <div mat-dialog-actions>

    <div class="right-aligned">

      <button 
        mat-raised-button
        color="primary"
        type="submit"
        (click)="upsert()">{{'Save' | translate}}</button>

      <button
        mat-button
        (click)="close(null)">{{'Cancel' | translate}}</button>

    </div>

  </div>
</form>
